<h1>This is the show page for <%= @roster.name %></h1>
<div class="card">
  <div class="container" id="unit-card-header">
    <div class="row">
      <!-- <div class="col-3" id="unit-portrait"></div> -->
      <div class="col-4" id="cal-selector">
        <div>CAL</div>
        <div class="button">1</div>
        <div>2</div>
        <div>3</div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-8" id="unit-title-bar">
            <div>Name</div>
            <div>Flavor Name</div>
          </div>
          <div class="col-4" id="unit-cost">
            <div>Cost</div>
            <div>###</div>
          </div>
        </div>
        <div class="row g-2">
          <div class="col">
            <div>AS</div>
            <div>#</div>
          </div>
          <div class="col">
            <div>SH</div>
            <div>#</div>
          </div>
          <div class="col">
            <div>ST</div>
            <div>#</div>
          </div>
          <div class="col">
            <div>T</div>
            <div>#</div>
          </div>
          <div class="col">
            <div>W</div>
            <div>#</div>
          </div>
          <div class="col">
            <div>CD</div>
            <div>#</div>
          </div>
          <div class="col">
            <div>SZ</div>
            <div>#</div>
          </div>
          <div class="col">
            <div>MV</div>
            <div>#</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
