<h1>VASA Sec-Net</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div>
  <%= link_to "Rules Reference", "rosters", :class => "btn btn-primary" %>
</div>
<div>
  <%= link_to "Force Manager", "rosters", :class => "btn btn-primary" %>
</div>
<div>
  <%= link_to "Scenario Manager", "rosters", :class => "btn btn-primary" %>
</div>
