#unit-portrait {
  background-color: black;
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
}

#cal-selector {
  background-color: lightblue;
  font-size: 4vw;
  text-align: right;
}

#unit-title-bar {
  background-color: lightgreen;
}

#unit-cost {
  background-color: lightblue;
}
