#unit-portrait {
  background-color: black;
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
}

#cal-selector {
  background-color: lightblue;
  text-align: right;
}

#cal-selector input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#cal-selector div {
  cursor: pointer;
}

#cal-selector input:checked + div {
  background-color: #000;
  color: #fff;
}

#unit-title-bar {
  background-color: lightgreen;
}

#unit-cost {
  background-color: lightblue;
}
